{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <div id="root"></div>
    <div class="data-js"
        data-establishments="{{ establishments }}"
    >
</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('establishments') }}
{% endblock %}
