{% extends 'base.html.twig' %}

{% block title %}Fiche établissement{% endblock %}

{% block body %}
    <div id="root"></div>
    <div
        class="data-js"
        data-establishment="{{ establishment }}"
    ></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('establishmentDetails') }}
{% endblock %}
