{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <div id="root"></div>
    <div class="data-js"
        data-meal-times="{{ mealTimes }}"
    >
</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('mealTimes') }}
{% endblock %}
