{% extends 'base.html.twig' %}

{% block title %}Formulaire employé{% endblock %}

{% block body %}
    <div id="root"></div>
    <div
        class="data-js"
        data-staff-member="{{ staffMember }}"
    ></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('staffMemberForm') }}
{% endblock %}
