{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <div id="root"></div>
    <div class="data-js"
        data-staff-members="{{ staffMembers }}"
    >
</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('staffMembers') }}
{% endblock %}
