{% extends 'base.html.twig' %}

{% block title %}Fiche réservation{% endblock %}

{% block body %}
    <div id="root"></div>
    <div
        class="data-js"
        data-booking="{{ booking }}"
    ></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('bookingDetails') }}
{% endblock %}
