{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <div id="root"></div>
    <div class="data-js"
        data-bookings="{{ bookings }}"
    >
</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('bookings') }}
{% endblock %}
