{% extends 'baseFront.html.twig' %}

{% block body %}
<div>
    <h1 class="text-xl font-bold">Homepage</h1>
    <a href="/dashboard" class="inline-block font-bold underline mt-10">Go to dashboard</a>
</div>
{% endblock %}